body{
    font-family: 'Poppins', sans-serif;
}
.container{
    background-image: url(images/donation13.jpg);
    width: 210vh;
    height: 105vh;
    text-align:center;
    object-fit: cover;
    background-size: cover;
    margin-top: 0%;
}
.text{
    color: rgb(246, 239, 239);
    position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);

    
}
.banner-item{
    margin: 10px;px;
}
.text-header{
    font: weight 700px;
    font-size: 45px;
}
a{
    text-decoration: none;
    background-color: skyblue;
    padding: 10px 25px;
    color: black;
    
}
